LOGIN=XXXXXXXXX
DOMAIN=$LOGIN.42.fr

WP_DB=XXXXXXXXX
DB_USER=XXXXXXXXX
DB_USER_PASS=XXXXXXXXX
DB_ROOT_PASS=XXXXXXXXX

WORDPRESS_DB_HOST=XXXXXXXXX
WP_TABLE_PREFIX=XXXXXXXXX
SITE_TITLE=XXXXXXXXX
WP_ADMIN=XXXXXXXXX
WP_ADMIN_PASS=XXXXXXXXX
WP_ADMIN_EMAIL=XXXXXXXXX
WP_USER=XXXXXXXXX
WP_USER_MAIL=XXXXXXXXX
WP_USER_PASS=XXXXXXXXX